body{
    background-color: darkcyan;
    font-family: 'Trebuchet MS', Arial;
    text-align: center;
}

h1{
    color:white;
    text-transform: uppercase;
}

#first{
    color: yellowgreen;
    margin-top: 10px;
}

#second{
    color: darkorange;
    margin-top: 10px;
}

#third{
    color: indigo;
    margin-top: 10px;
}