body{
    background-color: SteelBlue;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h1{
    color:white;
    text-transform: uppercase; /* Transforming the text into uppercase */
}

#first{
    color: lightgray;
    margin-top: 10px; 
}

#second{
    color: limegreen;
    margin-top: 10px;
}

#third{
    color: lightpink;
    margin-top: 10px;
}

input, #enter{
    width: 50px; 
    height: 30px; 
    padding: 5px; 
    margin: 1px; 
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
}

input{
    min-width: 50%; /* Mininum width */
}

#enter{
    background-color:blue;
    color: white;
}

#enter:hover{
    background-color: mediumturquoise;
    color: green;
}

ul{
    display: inline-block; /* Sets the list as center */
}

li{
    list-style: none;
    padding: 10px;
    font-weight: bold;
    background-color: paleturquoise;
    border-radius: 5px;
    border: 3px solid lightblue;
    width: 600px;
    text-transform: capitalize; /* Captialize the inputted text */
    margin-bottom: 10px;
    text-align: left;
}

li > button{
    font-weight: bold;
    border: none;
    float: right; /* Float the X button to the right */
    background: none;
    color:black;
}

li:hover{
    background-color: limegreen;
    border: 3px solid limegreen;
}

.done{
   background: limegreen !important; /* Add more importance to a property/value than normal. In this case, the color and the border. */
   border: 3px solid limegreen !important;
}



